body{
  background-color:#cdffeb;
}
hr{
border-style:none;
border-top-style: dotted;
border-color:#bf9fee;
width:5%;
border-width:10px;
}
h4{
color:#5a3921;
}
h2{
color:#a06ee1;
}
h1{
color:#f84739;
}
table{
  border-color:#a06ee1;

}


h3{
color:#a84739;
}
h5{
color:#ffd700;
}

h6{
color:#a1dd70;
}

div{
  background-color:#3a9679;
  margin-left: 80px;
  margin-right: 800PX;
}
/****************************class section******************************/
.cover:hover{
  background-color:#ffd700;
}
.kumarappaindustries:hover{
  background-color: #ffd700;
  }
.kumarappaindustries{
  margin-right:0px;

  margin-left: 0px;
}
.kumarappaindustriess{
  margin-right:350px;
  margin-left: 350px;
}
